@font-face {
	font-family: 'DotMatrix';
	src: url('dotmatrix.ttf');
}

.btn.delete-page {
	float: right;
	margin-top:-5px;
	margin-right: -10px;
}

.display-preview {
	font-family: 'DotMatrix', monospace;
	font-size: 28px;
	line-height: 1;
	color: white;
	background-color: #111;
	display: table;
	padding: 5px;
	border-radius: 3px;
}

.display-preview .display-row {
	display: table-row;
}

.display-preview .display-char {
	display: table-cell;
	padding: 3px 0 0 3px;
}

@media(max-width: 511px) {
	.display-preview {
		font-size: 20px;
	}

	.display-preview .display-char {
		padding: 1px 0 0 1px;
	}
}
