{% extends "layout.html" %}
{% block body %}

  <script>
    
  </script>

  <div class="container">
    <h1>Color Display</h1>
    <br />

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#pages" aria-controls="pages" role="tab" data-toggle="tab">Text &amp; colors</a></li>
      <li role="presentation"><a href="#interval" aria-controls="interval" role="tab" data-toggle="tab">Display interval</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="pages">
        <br />
        <div class="panel panel-info">
          <div class="panel-body">
            <p>Available colors are [w]hite, [r]ed, [g]reen, [b]lue, [c]yan, [m]agenta, and [y]ellow. Letters in uppercase causes the letter to blink. Any other character will be displayed as black/not visible.</p>
          </div>
        </div>
        <hr />

        <form class="form-horizontal">

          <div id="page-panel-container"></div>

          <hr />
          <button id="page-panel-add" class="btn btn-success btn-lg" onclick="addPage">Add page</button>
          <input id="page-submit" class="btn btn-primary btn-lg" type="submit" value="Save" />
          <br /><br />
        </form>

      </div>

      <div role="tabpanel" class="tab-pane" id="interval">
        <br /><br />
        <form action="interval" method="post">
          <div class="form-group" style="max-width: 300px;>
            <label for="display_interval">Display interval (seconds)</label>
            <input class="form-control input-lg" type="number" name="display_interval" min="1" value="{{ display_interval }}" />
          </div>
          <br />
          <hr />
          <div class="form-group">
            <input class="btn btn-primary btn-lg" type="submit" value="Save" />
          </div>
        </form>
      </div>
    </div>

  </div>

{% endblock %}